*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(2, 2, 54); 
    background-size: cover;
}

form
{
    background-color: whitesmoke; 
    border-color: none;
    width: 400px;
    height: 500px;
    margin-left: 35%;
    margin-top: 7%;
    border-radius: 0px;
}

h1
{
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 25px;
    color: white;
}

h2
{
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 45px;
    color: rgb(10, 1, 34);
}

div.texto
{
    margin: 20px 80px;
}

input
{
    width: 250px;
    height: 40px;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.botao
{
    border-radius: 20px;
    background-color: yellow;
    width: 250px;
    height: 45px;
    margin-left: 80px;
    margin-top: 30px;
    color: rgb(10, 1, 34);
    font-family: 'Arial', sans-serif;
    font-size: x-large;
}


